h1 {
    color:rgba(23, 147, 209, 0.996);
    font-style: italic;

}
.note {
  color: rgb(1, 34, 181);
  padding-top: 3px;
  font-size: 15px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}